{
  "data_overrides": {
    "loc_dat": {
      "path": [
        1,
        1
      ]
    },
    "ac_dat": {
      "avc": [
        1,
        1
      ]
    }
  },
  "data_requirements": {
    "ac_dat": [
      "avc",
      "mass_lim",
      "len_lim"
    ],
    "as_dat": [
      "seal_flag",
      "pave_type",
      "seal_date",
      "pave_date",
      "line_mark"
    ],
    "env_dat": [
      "climate",
      "subgrade"
    ],
    "con_dat": [
      "iri",
      "rutt",
      "cracking",
      "textowp",
      "strength"
    ],
    "fin_dat": [
      "cost_maint",
      "cost_asset",
      "revn_asset"
    ],
    "inv_dat": [
      "int_len",
      "form_width",
      "frwd_lanes",
      "seal_shld",
      "road_cat",
      "seal_width",
      "cntr_lanes",
      "unseal_shld",
      "cway",
      "num_lanes",
      "lane_width"
    ],
    "loc_dat": [
      "start_long",
      "start_lat",
      "end_long",
      "end_lat"
    ],
    "op_dat": [
      "speed_lim",
      "traffic",
      "perc_heavy"
    ],
    "ref_dat": [
      "unique_id",
      "road_name",
      "dirctn",
      "owner",
      "sect_num",
      "road_num",
      "sect_nam"
    ]
  },
  "timeliness": {
    "fin_dat": [
      "iri_date",
      "rut_date",
      "str_date",
      "tex_date"
    ],
    "con_dat": [
      "fin_year"
    ]
  }
}