{
    "default_values": { "default_a_val": 0.36,
                        "default_avc": "NA",
                        "maxev": {"default" : 0.97,
                                   "r0"     : 1.00,
                                   "r1"     : 0.97,
                                   "r2"     : 0.97,
                                   "r3"     : 0.92,
                                   "r4"     : 0.78,
                                   "r5"     : 0.70},
                        "minev": {"default": 0.80,
                                    "r0"    : 0.00,
                                    "r1"    : 0.80,
                                    "r2"    : 0.54,
                                    "r3"    : 0.54,
                                    "r4"    : 0.45,
                                    "r5"    : 0.45}
                        },
    "datetime_format": ["%d/%m/%Y","%Y%d%m"],
    "datatypes":{
        "unique_id":            {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                          }},
        "owner":                {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                          }},
        "road_num":             {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                          }},
        "road_name":            {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                          }},
        "sect_num":             {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                          }},
        "sect_nam":             {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                          }},
        "dirctn":               {"type": "str",      "domain":  {"range_type": "set",   "range": ["forward", "reverse"]          }},
        "start_long":           {"type": "float",    "domain":  {"range_type": "range", "range": [112, 154]                      }},
        "start_lat":            {"type": "float",    "domain":  {"range_type": "range", "range": [-44, -10]                      }},
        "end_long":             {"type": "float",    "domain":  {"range_type": "range", "range": [112, 154]                      }},
        "end_lat":              {"type": "float",    "domain":  {"range_type": "range", "range": [-44, -10]                       }},
        "path":                 {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                          }},
        "chain_start":          {"type": "float",    "domain":  {"range_type": "range", "range": [0, 3000]                       }},
        "chain_end":            {"type": "float",    "domain":  {"range_type": "range", "range": [0, 3000]                       }},
        "int_len":              {"type": "float",    "domain":  {"range_type": "range", "range": [0, 100]                        }},
        "road_cat":             {"type": "str",      "domain":  {"range_type": "set",   "range": ["r1", "r2", "r3","r4", "r5"]   }},
        "cway":                 {"type": "str",      "domain":  {"range_type": "set",   "range": ["a", "b", "c"]                 }},
        "form_width":           {"type": "float",    "domain":  {"range_type": "range", "range": [1, 100]                        }},
        "seal_flag":            {"type": "str",      "domain":  {"range_type": "set",   "range": ["sealed", "unsealed"]          }},
        "seal_width":           {"type": "float",    "domain":  {"range_type": "range", "range": [1, 50]                         }},
        "seal_date":            {"type": "datetime", "domain":  {"range_type": "range", "range": ["None","{dnow}"]              }},
        "line_mark":            {"type": "str",      "domain":  {"range_type": "set",   "range": ["yes","no"]                    }},
        "num_lanes":            {"type": "int",      "domain":  {"range_type": "range", "range": [1, 10 ]                        }},
        "frwd_lanes":           {"type": "int",      "domain":  {"range_type": "range", "range": [1, 10 ]                        }},
        "cntr_lanes":           {"type": "int",      "domain":  {"range_type": "range", "range": [1, 10 ]                        }},
        "lane_width":           {"type": "float",    "domain":  {"range_type": "range", "range": [1, 20 ]                        }},
        "seal_shld":            {"type": "float",    "domain":  {"range_type": "range", "range": [0.0, 10 ]                        }},
        "unseal_shld":          {"type": "float",    "domain":  {"range_type": "range", "range": [0.0, 10 ]                        }},
        "avc":                  {"type": "int",      "domain":  {"range_type": "range", "range": [1, 12 ]                        }},
        "mass_lim":             {"type": "float",    "domain":  {"range_type": "range", "range": [1, 150]                        }},
        "len_lim":              {"type": "float",    "domain":  {"range_type": "range", "range": [5, 100]                        }},
        "hati":                 {"type": "float",    "domain":  {"range_type": "range", "range": [0, 15 ]                        }},
        "iri":                  {"type": "float",    "domain":  {"range_type": "range", "range": [0, 20 ]                        }},
        "iri_date":             {"type": "datetime", "domain":  {"range_type": "range",   "range": ["19600101","None"]               }},
        "rutt":                 {"type": "float",    "domain":  {"range_type": "range", "range": [0, 250]                        }},
        "rut_date":             {"type": "datetime", "domain":  {"range_type": "range",   "range": ["19600101","None"]               }},
        "cracking":             {"type": "int",      "domain":  {"range_type": "range", "range": [0, 100]                        }},
        "crk_date":             {"type": "datetime", "domain":  {"range_type": "range",   "range": ["19600101","None"]               }},
        "strength":             {"type": "int",      "domain":  {"range_type": "range", "range": [0, 10000]                      }},
        "str_date":             {"type": "datetime", "domain":  {"range_type": "range",   "range": ["20100101","None"]               }},
        "textowp":              {"type": "float",    "domain":  {"range_type": "range", "range": [0, 30]                         }},
        "textbwp":              {"type": "float",    "domain":  {"range_type": "range", "range": [0, 30]                         }},
        "tex_date":             {"type": "datetime", "domain":  {"range_type": "range",   "range": ["19600101", "None"]              }},
        "vcg":                  {"type": "int",      "domain":  {"range_type": "set",   "range": ["0", "1", "2", "3", "4", "5"]  }},
        "pave_type":            {"type": "str",      "domain":  {"range_type": "set",   "range": ["ss", "su", "us", "uu", "c"]   }},
        "pave_date":            {"type": "datetime", "domain":  {"range_type": "range",   "range": ["19500101", "None"]              }},
        "speed_lim":            {"type": "int",      "domain":  {"range_type": "range", "range": [25,130]                        }},
        "traffic":              {"type": "int",      "domain":  {"range_type": "range", "range": [0,50000]                       }},
        "perc_heavy":           {"type": "int",      "domain":  {"range_type": "range", "range": [0, 100]                        }},
        "climate":              {"type": "str",      "domain":  {"range_type": "set",   "range": ["cd", "cw", "hd", "hw"]        }},
        "subgrade":             {"type": "str",      "domain":  {"range_type": "set",   "range": ["s", "m", "c", "x", "r"]       }},
        "cost_maint":           {"type": "float",    "domain":  {"range_type": "range", "range": [0, 30000000000 ]               }},
        "cost_asset":           {"type": "float",    "domain":  {"range_type": "range", "range": [0, 300000000000]               }},
        "revn_asset":           {"type": "float",    "domain":  {"range_type": "range", "range": [0, 30000000000 ]               }},
        "tex_date":             {"type": "datetime", "domain":  {"range_type": "range",  "range": ["20000101", "None"]              }},
        "fin_year":             {"type": "datetime", "domain":  {"range_type": "range",  "range": ["20000101","None"]               }}
    },
    "logfile_col_names" : {
                            "owner":            "Dataset owner",
                            "road_num":         "Road number",
                            "road_name":        "Road name",
                            "sect_num":         "Section number",
                            "sect_nam":         "Section name",
                            "dirctn":           "Direction",
                            "start_long":       "Start longitude",
                            "start_lat":        "Start latitude",
                            "end_long":         "End longitude",
                            "end_lat":          "End latitude",
                            "path":             "WKT path",
                            "chain_start":      "Chainage start",
                            "chain_end":        "Chainage end",
                            "int_len":          "Interval length",
                            "road_cat":         "Road category",
                            "cway":             "Carriageway",
                            "form_width":       "Formation width",
                            "seal_flag":        "Seal flag",
                            "seal_width":       "Seal width",
                            "seal_date":        "Seal date",
                            "line_mark":        "Line marking flag",
                            "num_lanes":        "Number of lanes",
                            "frwd_lanes":       "Number of forward lanes",
                            "cntr_lanes":       "Number of counter lanes",
                            "lane_width":       "Lane width",
                            "seal_shld":        "Sealed shoulder width",
                            "unseal_shld":      "Unsealed shoulder width",
                            "avc":              "Austroads vehicle class limit",
                            "mass_lim":         "Mass limit",
                            "len_lim":          "Length limit",
                            "hati":             "HATI",
                            "iri":              "IRI",
                            "iri_date":         "IRI date",
                            "rutt":             "Rutting",
                            "rut_date":         "Rutting date",
                            "cracking":         "Cracking extent",
                            "crk_date":         "Cracking date",
                            "strength":         "Strength",
                            "str_date":         "Strength date",
                            "textowp":          "Texture OWP",
                            "textbwp":          "Texture BWP",
                            "tex_date":         "Texture data",
                            "vcg":              "Visual Condition Grade",
                            "pave_type":        "Pavement type",
                            "pave_date":        "Pavement date",
                            "speed_lim":        "Speed limit",
                            "traffic":          "Traffic volume",
                            "perc_heavy":       "Heavy vehicle percentage",
                            "climate":          "Climate type",
                            "subgrade":         "Subgrade soil type",
                            "fin_year":         "Financial year",
                            "cost_maint":       "Maintenance costs",
                            "cost_asset":       "Replacement cost",
                            "revn_asset":       "Revenue"
    },

    "acc_col_name": {
                      "ac_dat_acc":    "HV Access data accuracy",
                      "as_dat_acc":    "Road asset data accuracy",
                      "env_dat_acc":   "Environment data accuracy",
                      "con_dat_acc":   "Condition data accuracy",
                      "fin_dat_acc":   "Financial data accuracy",
                      "inv_dat_acc":   "Inventory data accuracy",
                      "loc_dat_acc":   "Location data accuracy",
                      "op_dat_acc":    "Operational data accuracy",
                      "ref_dat_acc":   "Reference data accuracy"
    }
}
